   table {
            width: 100%;
            table-layout: auto;
            overflow-x: auto;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #555;
            padding: 10px;
            text-align: center;
        }

        th {
            background-color: #3a3a3a;
            font-weight: 600;
        }
.copy-button {
    background-color: #f7ff03;
    color: black;
    font-size: 1.2em;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.copy-button:hover {
    background-color: #fcd523;
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.copy-button:active {
    transform: scale(1);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}


// DESIGN RESULTAT 

.resultats {
    background-color: #2c2c2c;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: left;
    max-width: 600px;
    margin: 30px auto;
    font-size: 1.1em;
}

.resultats h3 {
    text-align: center;
    color: #f7ff03;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.resultats p {
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 8px;
    margin: 8px 0;
    box-shadow: inset 0 2px 5px rgba(255, 255, 255, 0.1);
}

.resultats p strong {
    color: #ffffff;
}

.copy-container {
    text-align: center;
    margin-top: 15px;
}

// BOUTONS MENU 

html, body {
    height: 100%; /* Assurez-vous que le body occupe toute la hauteur de la page */
    margin: 0; /* Enlevez toute marge par défaut */
    padding: 0; /* Enlevez tout padding */
}

.menu-container {
    position: fixed; /* Utilise 'fixed' pour maintenir les boutons en haut à droite */
    top: 20px;
    right: 20px;
    display: flex;
    gap: 15px;
    z-index: 10; /* Assurez-vous qu'ils sont au-dessus des autres éléments */
}

.menu-button {
    background-color: #f7ff03;
    color: black;
    font-size: 1.2em;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.menu-button:hover {
    background-color: #fcd523;
    transform: scale(1.1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.menu-button:active {
    transform: scale(1);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
